.PRCard{
    width: 200px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .PRCard .name,   .PRCard .brand{
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .PRCard .brand{
    font-weight: lighter;
  }
  .imageContainer{
    width: 200px;
    height: 200px;
    position: relative;
  }