.modalCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
.leafyFeel :global(.modal-content) {
    border-radius: 24px;
}
.centerText{
    text-align: center;
}
.weightNormal{
    font-weight: normal;
}
.usersContainer{
    display: grid;
    column-gap: 10px;
    row-gap: 15px;
    justify-items: center;
    grid-template-columns:repeat(auto-fit, minmax(105px, 130px));
    justify-content: space-evenly;
    margin: 35px 0px 25px 0px;
}
.descriptionModal{
    font-size: 14px;
    display: inline-flex;
}
.customRow{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Ensure even space between cards */
}
.modalMainCOntent{
    height: 100%;
    display: flex;
    flex-direction: column;
}
/* Remove border-radius when modal is fullscreen */
@media (max-width: 767.98px) { /* Corresponds to md-down */
    .leafyFeel :global(.modal-content) {
      border-radius: 0px;
    }
}
.tabsModal{
    min-height: 500px;
}
.tab-content{
    background-color: #f8faf9;
    min-height: 400px;
    height: 400px;
}
.products-container{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    min-width: 700px;
}
.product-price-list{
    display: inline-flex;
    justify-content: space-between;
}
.product-price-list p{
    width: fit-content;
}
.recommendations-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    max-width: 100%;
    gap: 10;
}
.tabsModal > div:nth-of-type(2){
    overflow-y: auto;
    max-height: calc(101vh - 200px);
    min-height: calc(101vh - 200px);
}
.fake-link{
    color: rgb(69, 69, 253);
    cursor: pointer;
    width: fit-content;
}
.fake-link.disabled{
    color: rgb(137, 137, 137);
    cursor: wait;
}
.fake-link:hover{
    color: blue;
    text-decoration: underline;
}
.fake-link.disabled:hover{
    color: rgb(137, 137, 137);
}
