:root, .popover {
    --bs-popover-max-width: 500px !important;
}
html{
    font-family: "Euclid Circular A", "Akzidenz", Helvetica, Arial, sans-serif;
    padding-bottom: 100px;
    cursor: default;
}
.cursorPointer{
    cursor: pointer;
}
.container .leafygreen-ui-yk169t{
    margin-top: 3rem;
}
.weightNormal{
    font-weight: normal;
}
.modalLeafyFeel :global(.modal-content) {
    border-radius: 24px;
}
/* Remove border-radius when modal is fullscreen */
@media (max-width: 767.98px) { /* Corresponds to md-down */
    .modalLeafyFeel :global(.modal-content) {
      border-radius: 0px;
    }
}
[role="dialog"][aria-labelledby="guide-cue-label"] {
    z-index: 9999; /* Set a high z-index */
}
.fade.modal-backdrop.show, [role="dialog"][aria-modal="true"] {
    z-index: 0; /* Ensure the backdrop is below the dialog */
}
#myStepperRef > li{
    z-index: 0 !important;
}