
[data-lgid="lg-drawer-scroll_container"] {
  padding: 0;
  max-width: 432px; /* or your desired width */

  background-color: #f5f5f5;
}
.section-header {
  padding: 16px 20px;
    background-color: #f6f7f9;
    border-bottom: 1px solid #e9ecef;
    margin-bottom: 15px;
}
.section-header Label{
    font-size: 16px;
}
.list-container{
    height: 200px;
    overflow-y: auto;
}
.list-container.longer{
    height: 400px;
}
.log-item{
    background-color: #e8f5e9;
    color: #2e7d32;
    padding: 8px 12px;
    border-radius: 6px;
    font-family: monospace;
    font-size: 12px;
    line-height: 1.4;
    word-wrap: break-word;
    overflow-wrap: break-word;
    border-radius: 6px;
    margin-bottom: 5px;

}
.log-item.blue{
    background-color: #e3f2fd;
    color: #1565c0;
}
.top{
 
    display: flex;
    align-items: center;
    justify-content: space-between;
}